<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <title>Remove Users - Education Host Ltd</title>
    
    <%- include('header'); -%>       
    
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard</h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1500px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>  

            <!-- END: Main Menu-->
            <div class="content-body">
                

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Remove Users</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                   
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard ">

                                        <div id="jsGrid" style="height: 200px; overflow-y: auto;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>
    
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->

    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Vendor JS-->
    <script src="/vendors/js/material-vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/vendors/js/charts/chart.min.js"></script>


    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/js/core/app-menu.js"></script>

    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/js/scripts/pages/material-app.js"></script>
    <script src="/js/scripts/pages/dashboard-sales.js"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page Vendor JS-->

    <script src="/vendors/js/ui/headroom.min.js"></script>
    <script src="/vendors/js/charts/chartist.min.js"></script>
    <script src="/vendors/js/charts/chartist-plugin-tooltip.min.js"></script>
    <script src="/vendors/js/charts/raphael-min.js"></script>
    <script src="/vendors/js/charts/morris.min.js"></script>
    <script src="/vendors/js/timeline/horizontal-timeline.js"></script>
    <!-- END: Page Vendor JS-->

    <script src="/vendors/js/tables/jsgrid/jsgrid.min.js"></script>
    <script src="/vendors/js/tables/jsgrid/griddata.js"></script>
    <script src="/js/scripts/tables/jsgrid/removeuser.js"></script>
    <!-- <script src="/js/scripts/tables/jsgrid/susgrid.js"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- BEGIN: Vendor JS-->


    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/js/scripts/pages/material-app.js"></script>
    <script src="/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END: Page JS-->
    <script src="/js/scripts/pages/dashboard-sales.js"></script>
    <script src="/js/core/app.js"></script>
    <!-- Temporarily here -->
    <script>

        // Get Logins
        fetch('/api/user/gettoplogin').then(res => res.json()).then(data => {
            const userLogins = data.data;


            userLogins.forEach(user => {
                $('#logins').append(`
            
              <tr>
                <th scope="row" class="border-top-0">${user.firstname + user.lastname}</th>
                <td class="border-top-0">${user.logins}</td>
              </tr>

            `)
            })
        }).catch(err => {
            console.error('Error fetching login count', err)
        })

        function seeall() {
            fetch('/api/user/getalllogin').then(res => res.json()).then(data => {
                const userLogins = data.data;

                $('#logins').empty();
                userLogins.forEach(user => {
                    $('#logins').append(`

              <tr>
                <th scope="row" class="border-top-0">${user.firstname + user.lastname}</th>
                <td class="border-top-0">${user.logins}</td>
              </tr>

            `)
                })
            }).catch(err => {
                console.error('Error fetching login count', err)
            })
        }


    </script>
</body>
<!-- END: Body-->

</html>