.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
    /* Duration fixed since we animate additional hidden width */
  }
  
  .has-spinner.active {
    cursor: progress;
  }
  
  .has-spinner.active .spinner {
    opacity: 1;
    max-width: 10px;
    /* More than it will ever come, notice that this affects on animation duration */
  }

/* Add a right margin to each icon */
.fa {
    margin-left: -6px;
    margin-right: 8px;
}
.dropdown-select ul{
    /*overflow-y: inherit !important;*/
}